
/****** Object:  Database [ChemistryApp]    Script Date: 18.06.2023 19:42:46 ******/
CREATE DATABASE [ChemistryApp]
ALTER DATABASE [ChemistryApp] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChemistryApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChemistryApp]
GO
/****** Object:  Table [dbo].[CompletedChapter]    Script Date: 18.06.2023 19:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompletedChapter](
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_CompletedChapter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompletedTask]    Script Date: 18.06.2023 19:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompletedTask](
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_CompletedTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friends]    Script Date: 18.06.2023 19:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FriendId] [int] NOT NULL,
 CONSTRAINT [PK_Friends] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 18.06.2023 19:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](40) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCompletedChapter]    Script Date: 18.06.2023 19:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCompletedChapter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompletedChapterId] [int] NOT NULL,
 CONSTRAINT [PK_UserCompletedChapter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCompletedTask]    Script Date: 18.06.2023 19:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCompletedTask](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompletedTaskId] [int] NOT NULL,
 CONSTRAINT [PK_UserCompletedTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_Friends_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_Friends_User]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_Friends_User1] FOREIGN KEY([FriendId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_Friends_User1]
GO
ALTER TABLE [dbo].[UserCompletedChapter]  WITH CHECK ADD  CONSTRAINT [FK_UserCompletedChapter_CompletedChapter] FOREIGN KEY([CompletedChapterId])
REFERENCES [dbo].[CompletedChapter] ([Id])
GO
ALTER TABLE [dbo].[UserCompletedChapter] CHECK CONSTRAINT [FK_UserCompletedChapter_CompletedChapter]
GO
ALTER TABLE [dbo].[UserCompletedChapter]  WITH CHECK ADD  CONSTRAINT [FK_UserCompletedChapter_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserCompletedChapter] CHECK CONSTRAINT [FK_UserCompletedChapter_User]
GO
ALTER TABLE [dbo].[UserCompletedTask]  WITH CHECK ADD  CONSTRAINT [FK_UserCompletedTask_CompletedTask] FOREIGN KEY([CompletedTaskId])
REFERENCES [dbo].[CompletedTask] ([Id])
GO
ALTER TABLE [dbo].[UserCompletedTask] CHECK CONSTRAINT [FK_UserCompletedTask_CompletedTask]
GO
ALTER TABLE [dbo].[UserCompletedTask]  WITH CHECK ADD  CONSTRAINT [FK_UserCompletedTask_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserCompletedTask] CHECK CONSTRAINT [FK_UserCompletedTask_User]
GO
